#pagina1{
    background-color: #16151D;
    color: #303088;
}
header{
    color: aliceblue;
    background-color: #303088;
    
}
#titulo{
    text-align: center;
}

#dinheiro{
    background-color: #222222;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    color: aliceblue;
    
}
#resultado{
    background-color: #222222;
    width: 80px;
    text-align: center;
    border-radius: 20px;
    color: aliceblue;
}
#mainmanga{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    
    flex-wrap: wrap;
    margin: 20px;
    gap: 1em;
}
.imagens{
    height: 317px;
}
.manga1{
    text-align: center;
    display: block;
    margin: 10px;
}
.din{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 120px;
    margin: auto;
    margin-bottom: 10px;
    color: azure; 
}
.finalizar{
    margin: auto;
    background-color: white;
    width: 200px;
    padding: 20px;
}

.comprar{
    background-color:  #303088;
    
    border-radius: 15px;
    margin: auto;
    width: 120px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;

}
#divbotao{
    display: flex;
    justify-content: center;
    
}
a{
    color: antiquewhite;
    font-size: 30px;
    
}
a:active{
    transform: translate(2px, 2px);
}


#din1{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}
#din2{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}
#din11{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}
#din22{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}
#din111{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}
#din222{
    background-color: #222222;
    border-radius: 15px;
    text-align: center;
    width: 100px;
    margin: auto;
    color: azure;
}