*{
    box-sizing: border-box;
}
body{
    background-color:#16151D;
}
h2{
   
    background-color: #222222;
    color: white;
    text-align: center;
    justify-content: center;
    width: 200px;
    border-radius: 2px;
    left: 50px;
}
hr{
    background-color: blue;
}
img{
    height: 300px;
}
a{
    text-decoration: none;
    color: rgb(12, 12, 199);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


p{
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    margin: 13px;  
    text-align: center;
}


.man{
    float: left;
    padding: 10px;
    margin: 10px;
    transition: .5s;
}


.man:hover{
    transform: scale(1.1);
}


#categoria1{
    
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #222222;
}
#cor{
    background-color: rgb(48, 48, 136);
    height: 52px;
    width: 100%;
}