
    * {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
    }
    
    body {
        width: 100vw;
        height: 100vh;
        background-color: #16151D;
        overflow-x: hidden;
        
    }
    
    header {
        background-color: rgb(48, 48, 136);
        width: 100%;
        height: 67px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;
    }
    #menu {
        display: none;
        position: absolute;
        left: 436px;
        top: 70px;
        z-index: 9999;
        width: 134px;
        background-color: rgb(29, 28, 28);
    }

    #menu a {
        display: block;
        text-decoration: none;
        color: white;
        padding-top: 16px; 
        background-color: rgb(29, 28, 28);
        font-size: 1.1em;
        text-indent: 13px;
    }

    #menu a:active {
        transform: translate(2px, 2px);
    }

    #menu a:hover {
        background-color: grey;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        width: 100%;
    }
    
    .slider{
        width: 65%;
        height: 100%;
        overflow: hidden;
        margin: auto;
        margin-top: 40px;
       
    }figure{
        position: relative;
        left: 0;
        width: 400%;
        nimation: 17s slide infinite;
        
       
       
      
    }.slide{
        position: relative;
        width: 25%;
        background: url('https://i1.wp.com/lightnovelbrasil.com/wp-content/uploads/2021/07/download.jpg?resize=370,500') center top / cover no-repeat;
        
      
        height: 500px; 
        background-repeat: no-repeat;
    
        float: left;
      
       
    }.slide h1{
        position: relative;
        font-size: 3em;
        color: white;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .slide1{
        background: url('https://flowermangas.com/wp-content/uploads/a-stepmothers-marchen-1596.jpg') center top / cover no-repeat;
        width: 25%;
        float: left;
        height: 500px; 
        position: relative;
    
        
    }.slide2{
        background: url('https://i0.wp.com/metagalaxia.com.br/wp-content/uploads/2024/02/Frieren-e-a-Jornada-para-o-Alem.webp?resize=774%2C489') left, top ;
        background-repeat: no-repeat;
        background-size: cover;
        width: 25%;
        float: left;
        height: 500px; 
        position: relative;
        
    }.slide3{
            background: url("https://m.media-amazon.com/images/I/41xVhz5sL1L._SY445_SX342_.jpg") center top / cover no-repeat;
            width: 25%;
            float: left;
            height: 500px; 
            position: relative;
            

    }


    .slide::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; 
       background: rgba(0, 0, 0, 0.8); 
    
    
    
    
    }
    .slide1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; 
       background: rgba(0, 0, 0, 0.8); 
    
    
    
    
    }.slide2::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; 
       background: rgba(0, 0, 0, 0.8); 
    
    
    
    
    }
    .slide3::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit; 
       background: rgba(0, 0, 0, 0.8); 
    
    
    
    
    }
    img {
    width:  221px;
    height: auto;
    position: relative;
    z-index: 1;
    left:91px;
    top: 70px;
}


#titulo7{
    text-align: center;
        font-size: 2.7em;
        color: white;
        position: relative;
        bottom: 253px;
        z-index: 1;
        left: 102px
}
#titulo8{
    text-align: center;
    font-size: 2.7em;
    color: white;
    position: relative;
    bottom: 293px;
    z-index: 1;
    left: 122px
}
#titulo9{
    display: block;
    margin: auto;
    color: white;
    width: 380px;
    
    font-size: 1.2em;
    position: relative;
    z-index: 1;
    bottom: 228px;
    left: 66px;
}
#preço{
    display: block;
    margin: auto;
    color: white;
    width: 380px;
    
    font-size: 2em;
    position: relative;
    z-index: 1;
    bottom: 243px;
    left: 137px;}
    #preço1{
        display: block;
       
        margin: auto;
        color: white;
        width: 380px;
        font-size: 2em;
        position: relative;
        z-index: 1;
        bottom: 272px;
        left: 177px;
    }
    #preço2{
        display: block;
        margin: auto;
        color: white;
        width: 380px;
        font-size: 2em;
        position: relative;
        z-index: 1;
        bottom: 222px;
        left: 146px
    }
    
#botao2{
    width: 168px;
    display: block;
    margin: auto;
    height: 35px;
    background-color: rgb(48, 48, 136);
    color: white;
    text-align: center;
    line-height: 37px;
    text-decoration: none;
    border-radius: 13px;
    position: relative;
    top: -177px;
   
}#botao3{
    width: 168px;
    display: block;
    margin: auto;
    height: 35px;
    background-color: rgb(48, 48, 136);
    color: white;
    text-align: center;
    line-height: 37px;
    text-decoration: none;
    border-radius: 13px;
    position: relative;
    top: -157px;
}
   .slide3 h1{
     position: relative;
     left: 109px;
} 

#text {
    text-align: center;
    font-size: 3em;
    color: white;
    position: relative;
    bottom:282px;
    z-index: 1;
    left: -43px;
} 
#titulof{
    text-align: center;
    font-size: 3em;
    color: white;
    position: relative;
    bottom:242px;
    z-index: 1;
    
}
  


#text2 {
    display: block;
    margin: auto;
    color: white;
    width: 380px;
    
    font-size: 1.2em;
    position: relative;
    z-index: 1;
    bottom: 260px;
    left: 66px;
}
#text3{

        display: block;
        margin: auto;
        color: white;
        width: 380px;
        font-size: 1.2em;
        position: relative;
        z-index: 1;
        bottom: 215px;
        left: 66px;
    }

#botao1 {
        width: 168px;
        display: block;
        margin: auto;
        height: 35px;
        background-color: rgb(48, 48, 136);
        color: white;
        text-align: center;
        line-height: 37px;
        text-decoration: none;
        border-radius: 13px;
        position: relative;
        top: -207px;
    }
    

    @keyframes slide {
        0%{
            left:0;
        }
        10%{
            left:0;
        }
        20%{
            left:-100%;
        }
        30%{
            left:-100%;
        }
        40%{
            left:-200%;
        }
        50%{
            left:-200%;
        }
        65%{
            left:-300%;
        }
        66%{
            left:-200%;
        }
        74%{
            left:-200%;
        }
        75%{
            left:-100%;
        }
        85%{
            left:-100%;
        }
        90%{
            left:0;
        }
        1000%{
            left:0;
        }
    }
        
    
    
    
  
    
    a:active {
        transform: translate(2px, 2px);
    }

    .l {
        display: none;
    }

    ul {
        list-style-type: none;
    }

    .pc {
        position: relative;
    }

    .pc a {
        text-decoration: none;
        color: white;
    }

    #log {
        padding: 20px;
        position: absolute;
        left: -258px;
        top: -27px;
        font-size: 1.3em;
    }

    #car {
        text-align: center;
        position: absolute;
        left: -94px;
        font-size: 1.3em;
        top: -7px;
    }

    #card {
        position: absolute;
        left: -134px;
        top: -7px;
        color: white;
    }

    #card2 {
        color: white;
        position: absolute;
        left: -273px;
        top: -7px;
    }
    #card3{
        color: white;
        position: absolute;
        left: 21px;
        top: -7px;
    }
    #help{
        text-align: center;
        position: absolute;
        left: 54px;
        font-size: 1.3em;
         top: -7px;;
    }
    #popular{
        background-color: #222222;
        width: 70%;
        height: 315px;
        margin-top: 40px;
    }#cor{
        background-color: rgb(48, 48, 136);
        height: 52px;
        width: 100%;
   
    }#cor p{
        background-color: #222222;
        
        text-align: center;
        width: 11%;
        height: 29px;
        line-height: 29px;
      
        color: white;
    }
  #lancamento{
    background-color: #222222;
        width: 70%;
        height: 315px;
        margin-top: 40px;
  }
  #caixa{
    width: 60vw;
    height: 11rem;
    background-color: #222222;
  
    margin: auto;
   
    display: flex;
    padding: 1.8rem;
    overflow-x: scroll;
    margin-top: 19px;
    overflow-y: hidden;
}#caixa div{
   min-width: 12rem;
    max-height: 12rem;
  

    margin-left: 2rem;

}#caixa div a{
    margin-top: 40%;
    margin-left: 40%;
    color: white;
}#caixa img {
    margin-top: -59%;
    width: 79%;
    max-height: 12rem;
    margin-left: -100%;
    transition: .5s;}

    
    
    
    #caixa img:hover{
        transform: scale(1.1);
    }

footer{
    background-color: #222222;
    width: 100%;
    height: 160px;
    margin-top: 40px;

    
   
    padding: 0;
    font-size: 13px;
    color: #a3a3a3;
  
   
}

footer p {
    text-align: center;
    position: relative;
    top: 31px;
    width: 517px;
    
    margin: auto;
    display: block;
   
   
    

  

    
   
}

#cor2{
    background-color: rgb(48, 48, 136);
    height: 30px;
    width: 100%;
    
}
#termodu{
    color:  white;
    text-align: center;
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 1.3em;
    position: relative;
    top: 5px;
}

::-webkit-scrollbar{
    width: 4px;
 
}
::-webkit-scrollbar-thumb{
    background-color:rgb(48, 48, 136) ;
}


@media screen and (max-width: 1273px){

    footer p {
        text-align: center;
        position: relative;
        top: 20px;
        width: 340px;
        
      
       
        
    
      
    
        
       
    } .l {
        display: block;
    }
    .pc{
        display: none;
    }
    #menu {
        display: none;
        position: absolute;
        left: 0px;
        top: 70px;
        z-index: 9999;
        width: 134px;
        background-color: rgb(29, 28, 28);
    }
    .slider {
        width: 84%;
        height: 100%;
        overflow: hidden;
        margin: auto;
        margin-top: 40px;
    }
    
figure{
    position: relative;
    left: 0;
    width: 400%;
    nimation: 17s slide infinite;
}
img {
    width: 114px;
    left: 0px;
    top: 60px

    
}


#titulof {
  
    font-size: 2.6em;
    left: 66px;
        bottom: 130px;
    
}
#text3 {
    width: 184px;
        font-size: 1em;
        bottom: 117px;
        left: 71px;
    }


#botao3 {

    top: -15px;
}
#preço2 {
    display: block;
    margin: auto;
    color: white;
    width: 380px;
    font-size: 2em;
    position: relative;
    z-index: 1;
    bottom: 83px;
    left: 131px;
}
#logo {
  
    font-size: 1.1em;
    
}

#cor p {
    background-color: #222222;
    text-align: center;
    width: 44%;
    height: 31px;
    line-height: 34px;
    color: white;
}
#caixa {
    width: 53vw;
    height: 11rem;
    background-color: #222222;
    margin: auto;
    display: flex;
    padding: 1.8rem;
    overflow-x: scroll;
    margin-top: 19px;
    overflow-y: hidden;
}
#popular {
    background-color: #222222;
    width: 84%;
    height: 315px;
    margin-top: 40px;
}

#lancamento {
    background-color: #222222;
    width: 84%;
    height: 315px;
    margin-top: 40px;
}

















}



