*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #16151D;
    display: flex;
    justify-content: center;
    align-items: center;
}


#principal{
  background-color: #222222;
   width: 350px;
   height: 280px;
   border-radius: 20px;

  
  
}
label{
    font-size: 1.3em;
}
#button{
    width: 300px;
    margin-top: 4%;
    height: 26px;
    background-color:rgb(48, 48, 136) ;
    color: white;
    
}
#dform{
  padding: 20px;
}
header{
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.2em;
   
    border-bottom: 0.2px solid black;
 
}

p{
    line-height: 28px;
    color: white;
}
a{
    text-decoration: none;
    margin-top: 7%;
    color: white;
}
a:hover{
    color: rgb(48, 48, 136);
}
#criarconta{
    background-color: #FFFFFF;
    margin-top: 37%;
    
}
#esqs{
    margin-top: 2%;
 
}
footer{
   margin-top: 20%;
}

.buttonc{
     display: inline-block;
        width: 300px;
        margin-top: 4%;
        height: 26px;
        background-color:rgb(48, 48, 136) ;
        color: white;
        text-align: center;
        line-height: 26px;
        text-decoration: none;
        border-radius: 4px;
       
      
    }
    a:active{
        transform: translate(2px,2px);
    }
   input{
   
    width: 97%;
   }

   
  