*{
    box-sizing: border-box;
}
body{
    background-color:#16151D;
}
section{
    display: block; 
    margin: 20px;
}
img{
    height: 300px;
}
a{
    text-decoration: none;
    color: rgb(12, 12, 199);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


p{
   
    color: white;
    border-radius: 5px;
    margin: 13px;  
    text-align: center;
}

.manBETA{
    margin: 10px;
    transition: .5s;
}


.manBETA:hover{
    transform: scale(1.1);
}


#categoriaBETA{
     
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 20px;
    background-color:  #222222;
    border-radius: 10px;
    
}

#ajudar{
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background-color: rgb(48, 48, 136);
    border-radius: 8px;
    margin: auto;
    
    
}
#botao{
    
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgba(50, 50, 218, 0.753);
    width: 120px;
    padding: 5px; 
    transition: 0.3s; 
    color: white;
}
#botao:hover{
    transform: scale(1.1);
}
.porcentagem{
    display: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: azure;
}
#mainVOTACAO{
    display: none;
}